<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../assets/image/wipro-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/industries">Industries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cloud">Cloud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>



















<!-- <app-home></app-home>
<hr>
<app-contact></app-contact>
<hr>
<div>
    <h2>Two Way DataBinding - Property / Event</h2>
    <label for="">Enter the Name</label>
    <input type="text" [(ngModel)]="book.name"> <br> {{book.name}}
</div>
<h1>Angular Data Binding</h1>
<div>
    <h2 style="color:red">Interpolation</h2>
    <h2>{{title}}</h2>
    <h3>{{msg}}</h3>
    <h3>Book Details</h3>
    <h3>ISBN : {{book.isbn}}</h3>
    <h3>NAME :{{book.name}}</h3>
    <h3>PRICE : {{book.price}}</h3>
</div>
<hr>
<div>
    <h2 style="color: green;">Property Binding</h2>
    <img [src]="imgLoc">
    <button [disabled]="status">Click</button>
</div>
<hr>
<div>
    <h2 style="color: blue;">Event Binding</h2>
    <button (click)="showMessage()">Show</button>
</div> -->